<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blockvote.votingclient">

    <!-- This is needed to use the network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- This is needed to use the NFC -->
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name=".RootActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--ElectionActivity is now the main activity-->
        <activity
            android:name=".ElectionActivity"
            android:parentActivityName=".RootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            </activity>


        <activity android:name=".BeamTestActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.com.example.android.beam" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReadQRActivity"
            android:label="@string/title_activity_read_qr"
            android:theme="@style/AppTheme" />
        <activity android:name=".GenerateQRActivity"></activity>
    </application>

</manifest>